/generic/.ICEauthority
/generic/.Xauthority
/generic/.cache/
/generic/.config/
/generic/.dbus/
/generic/.gvfs/
/generic/.kde/
/generic/.local/
/generic/.nx/
/generic/.qt/
/generic/.pki/
/generic/.esd_auth
/generic/.xsession-errors
/generic/.mozilla/
/generic/.java/
/generic/.PyCharmCE2019.3/
/generic/.bash_history
/generic/.sudo_as_admin_successful
/developer/.ICEauthority
/developer/.Xauthority
/developer/.cache/
/developer/.config/
/developer/.dbus/
/developer/.gvfs/
/developer/.kde/
/developer/.local/
/developer/.nx/
/developer/.qt/
/developer/.pki/
/developer/.esd_auth
/developer/.xsession-errors
/developer/.mozilla/
/developer/.java/
/developer/.PyCharmCE2019.3/
/developer/.bash_history
/developer/.sudo_as_admin_successful

/charm
/.idea/
/generic/.gksu.lock
