/generic/.cache/
/generic/.config/
/generic/.dbus/
/generic/.gvfs/
/generic/.kde/
/generic/.local/
/generic/.nx/
/generic/.qt/
/generic/.gvfs/
/generic/.esd_auth
/generic/.ICEauthority
/generic/.Xauthority
/generic/.xsession-errors
